.container {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Organiza en columna */
    
}
.imagen {
    width: 700px; /* Establece el ancho de la imagen */
    height: 500px; /* Establece la altura de la imagen */
    
    margin-left: 700px;

  }
  .divs {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    padding-top: 10px;
    width: 1000px;
    margin-left: 550px;
    margin-bottom: 15px;
    
    
  }
  .botonn {

    height: 40px;
    width: 100px;

  }
  .h1 {
    background-color: rgb(119, 34, 98);
    width: 500px;
    margin-left: 800px;
    border-radius: 6px;
  }